<div class="authform">
  <h3><%= resource_name.to_s.humanize %> Profile</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>

    <div style="display:inline-block">
      <%= link_to resource.avatar.url, target: "_blank" do %>
        <%= image_tag resource.avatar(:medium) %>
      <% end %>
      <br/>
      <br/>
    </div>
    
    <div style="display:inline-block">
      <div class="form-group">
        <%= f.label "Upload avatar" %><br>
        <%= f.file_field :avatar %>
      </div>
      
  
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>
      <fieldset>
        <p>Leave these fields blank if you don't want to change your password.</p>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </fieldset>
      <fieldset>
        <p>You must enter your current password to make changes.</p>
        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, class: 'form-control' %>
        </div>
      </fieldset>
      <%= f.submit 'Update', :class => 'button right' %>
    </div>
  <% end %>
</div>
<div class="authform">
<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
</div>
