<div class="jumbotron">
  <h2>Northlakes Class Catchup</h2>
  <h5>Helping students catch up on missed classwork.</h5>
  <h6>Students can register, join other students in their course and then upload coursework images, notes or links for other students to use.</h6>
  <p>Need to know what you missed?  Find out here!</p>
  <% unless user_signed_in? %>
    <p>
      <%= link_to "Sign up", new_user_registration_path %>
      or
      <%= link_to "Log In", new_user_session_path %>
    </p>
  <% end %>
</div>
<div class="footer">
  <h6>Made with &lt;3 by <a href="/about">Northlakes Coder Girls</a></h6>
</div>