<div style="display:inline">
    <%= link_to resource, class: 'resource-index-item' do %>
      <div class="image"><%= image_tag resource.image.url(:thumb) %></div>
      <div class="text">
        <% unless hide_course_name %>
            <div><%= resource.course ? resource.course.subject : "" %></div>
        <% end %>
        <div><%= resource.description %></div>
        <div><%= resource.lesson_date %></div>
        <div class="resource-link"><%= resource.url %></div>
      </div>
    <% end %>
</div>