<p id="notice"><%= notice %></p>

<div style="float: right" class="btn btn-medium btn-round">
  <%= link_to 'New Resource', new_resource_path if current_user %>
</div>
<h1>Resources</h1>

<div>
  <% @resources.each do |resource| %>
    <%= render partial: 'resources/resource', locals: {resource: resource, hide_course_name: false} %>
  <% end %>
</div>

<br>

