<div style="margin: 2em">
  <p id="notice"><%= notice %></p>
  
  <p style="display:inline-block;margin-right:2em">
    <%= link_to @resource.image.url, target: :_blank do %>
      <%= image_tag @resource.image.url(:medium), class: :'reource-image medium' %>
    <% end %>
  </p>
  <div style="display:inline-block">
    <p>
      <strong>Course:</strong>
      <%= @resource.course ? @resource.course.subject : "" %>
    </p>
    
    <p>
      <strong>Description:</strong>
      <% if @resource.description.blank? %>
        -
      <% else %>
        <%= @resource.description %>
      <% end %>
    </p>
    
    <p>
      <strong>Lesson date:</strong>
      <%= @resource.lesson_date %>
    </p>
    
    <p>
      <strong>URL:</strong>
      <% if @resource.url.blank? %>
        -
      <% else %>
        <%= link_to @resource.url %>
      <% end %>
    </p>
    
    <p>
      <strong>Uploaded by:</strong>
      <%= User.find(@resource.uploaded_by_user_id).email if User.exists?(@resource.uploaded_by_user_id) %>
    </p>
    <%= link_to 'Edit |', edit_resource_path(@resource) if @resource.is_owned_by(current_user) or (current_user and current_user.is_sysadmin) %>
    <%= link_to 'Delete this resource |', @resource, method: :delete, data: { confirm: 'Are you sure?' } if @resource.is_owned_by(current_user) or current_user and current_user.is_sysadmin %>
    <%= link_to 'Go to course', @resource.course ? course_path(@resource.course) : resources_path %>
  </div>
</div>