<p id="notice"><%= notice %></p>

<div style="float: right" class="btn btn-medium btn-round">
  <%= link_to 'New Course', new_course_path if current_user && current_user.is_sysadmin %>
</div>

<h1>Courses</h1>

<div class="course-index-items">
  <% @courses.each do |course| %>
    <%= link_to course, class: "course-index-item" do %>
      <div class="image"><%= image_tag course.image.url(:thumb) %></div>
      <div class="text">
        <div><%= course.subject %></div>
        <div><%= course.coordinator %></div>
        <div><%= course.description %></div>
        <div><%= "#{pluralize(course.resources.size, 'resource')}" %></div>
      </div>
    <% end %>
  <% end %>
</div>

<br>

