<p id="notice"><%= notice %></p>

<div style="float: right" class="btn btn-medium btn-round">
  <%= link_to 'New Resource', new_resource_path(course: @course) if current_user %>
</div>

<table>
  <tr>
    <td>
      <p>
        <%= image_tag @course.image.url(:thumb), class: :'course-image thumb' %>
      </p>
    </td>
    <td>
      <h2><%= @course.subject %></h2>
      <h3><%= @course.coordinator %></h3>
      <h4><%= @course.description %></h4>
    </td>
  </tr>
</table>

<% if @course.resources.empty? %>
  <p>
    <strong>No resources yet!</strong>
  </p>
<% else %>
  <strong>Resources:</strong>
  <p>
    <% @course.resources.order(updated_at: :desc).each do |r| %>
      <%= render partial: 'resources/resource', locals: {resource: r, hide_course_name: true} %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit |', edit_course_path(@course) if current_user && current_user.is_sysadmin %>
<%= link_to 'Delete this course |', @course, method: :delete, data: { confirm: 'Are you sure?' } if current_user && current_user.is_sysadmin %>
<%= link_to 'Back', courses_path %>
