/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,
html { 
  width: 100%; 
  height: 100%;
}
body { 
  background: #eee url() center center no-repeat;
  background-size: cover;
}

body:before {
    content: '\A';
    position: absolute;
    width: 100%; 
    height: 100%;
    top:0; 
    left:0;
    background:rgba(255,255,255,0.33);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

h1, h2, h3, h4, h5, h6,
label,
p, a, ul { 
  color: black !important;
}

a { 
  text-decoration: underline; 
}

.navbar a { 
  text-decoration: none; 
  vertical-align: middle;
}

.navbar, 
.jumbotron { 
  background-color: rgba(255,255,255,0.5) !important;
  text-align: center;
}

.footer h6 { 
  width: 100%;
  text-align: center;
}

[role="main"] { 
  background-color: rgba(255,255,255,0.5);
  color: black;
  padding: 1em;
}

#error_explanation ul li { 
  color: black;
}

.navbar-nav .nav-link { 
  color: black;
}

button,
input[type='submit'],
.btn,
#exCollapsingNavbar2 a { 
  background-color: transparent;
  border: solid 1px transparent;
  border-radius: 0.25em;
  padding: 0.5em;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

button,
input[type='submit'],
.btn { 
   border-color: darkgrey; 
}

button:hover,
input[type='submit']:hover,
.btn:hover,
#exCollapsingNavbar2 a:hover { 
  background-color: lightgrey;
  border: solid 1px black;
}

a:hover { 
  background-color: transparent;
}

input[type='text'],
textarea { 
  padding: 0.5em;
  border-radius: 0.25em;
  font-size: larger;
  border-style: solid;
}

.nav-item.logo { 
   background: transparent url(http://www.northlake-h.schools.nsw.edu.au/cmsresources/images/school_logo_1318243080033_1318243080034_m.jpg) center center no-repeat;
   background-size: contain;
   width: 3em;
   height: 3em;
   border: none !important;
   background-color: transparent !important;
}