// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resource-index-item { 
  display: inline-block;
  width: 48.5%;
  margin: 0.5%;
  text-decoration: none !important;
  min-height: 100px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  border: solid 1px darkgrey;
  border-radius: 0.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  whitespace: none;
  .text,
  .image {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .image img { 
    vertical-align: middle;
    width: 100%;
  }
  .text { 
     padding: 0.5em; 
  }
  &:hover { 
     background: lightgrey; 
  }
  .resource-link { 
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
  }
}

.resource-image.thumb { 
   margin-right: 2em; 
}