<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-dark bg-inverse">
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item">
        <button class="navbar-toggler hidden-sm-up nav-link" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
      </li>
    </ul>
    <div class="navbar-toggleable-xs" id="exCollapsingNavbar2">

      <a class="nav-item navbar-brand logo"></a>

      <%= link_to "home", root_path, class: 'navbar-brand' %>
      <%= link_to "about", about_path, class: 'navbar-brand' %>
      <% if user_signed_in? %>
        <%= link_to "courses", courses_path, class: 'navbar-brand' %>
        <%= link_to "profile", edit_user_registration_path, class: 'navbar-brand' %>
        <%= link_to "log out", destroy_user_session_path, method: 'delete', class: 'navbar-brand' if user_signed_in? %>
      <% else %>
        <%= link_to "sign up", new_user_registration_path, class: 'navbar-brand' unless user_signed_in? %>
        <%= link_to "log in", new_user_session_path, class: 'navbar-brand' unless user_signed_in? %>
      <% end %>
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>

      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </nav>
</div>
